appnope
backports-abc
backports.shutil-get-terminal-size
backports.weakref
bleach
certifi
configparser
cycler
Cython
decorator
echarts-python
entrypoints
enum34
fbprophet
funcsigs
functools32
future
futures
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-pip
Keras
Markdown
MarkupSafe
matplotlib
mglearn
mistune
mock
nbconvert
nbformat
networkx
nose
notebook
numpy
olefile
pandas
pandocfilters
pathlib2
pbr
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pyecharts
Pygments
pyparsing
pystan
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
scandir
scikit-learn
scipy
seaborn
Send2Trash
simplegeneric
singledispatch
six
subprocess32
tensorflow
tensorflow-tensorboard
terminado
testpath
Theano
torch
torchvision
tornado
traitlets
wcwidth
Werkzeug
widgetsnbextension
